<% provide :title, t("user.name") %>
<% provide :button_text, t("user.create") %>
<div class="row">
  <div class="col-md-6">
    <h2><%= t "user.create" %></h2>
    <%= render "form" %>
  </div>
</div>
