<% provide :title, t("controller.question.name") %>
<% provide :button_text, t("controller.question.create") %>
<div class="row">
  <div class="col-md-6">
    <h2><%= t "controller.question.create" %></h2>
    <%= render "form" %>
  </div>
</div>
