<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("pages.my_web"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("pages.home"), root_path %></li>
        <li><%= link_to t("signup.name"), signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
